/**
 * These are the custom positionings and stylings related to sample.html
 * In this file, we'll define the background and where the text should be positioned.
 */
/*
body {

  background-image: url('../assets/images/sample-overlay.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;

}*/


#name{
  background-color: #e2e3e5;
  font-size: 3em;
  font-weight: bold;
  padding: 10px;
  font-family: "FTT-RodinWanpaku";
}
#origin{
  background-color: #000000;
  color: #ffffff;
  font-size: 2em;
  font-weight: normal;
  padding: 10px;
}

.origin-enter-active, .origin-leave-active {
  transform: translate(0px, 0px);
  transition: transform 0.5s cubic-bezier(0.5, 0, 0.5, 0) 0.1s;
}

.origin-enter, .origin-leave-to {
  transform: translateX(0px) translateX(-50vw);
}

.name-enter-active, .name-leave-active {
  transform: translate(0px, 0px);
  transition: transform 0.5s cubic-bezier(0.5, 0, 0.5, 0) 0s;
}

.name-enter, .name-leave-to {
  transform: translateX(-50vw) translateX(0px);
}
