<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Sample.html</title>

  <link rel="stylesheet" type="text/css" href="./css/base.css" />
  <link rel="stylesheet" type="text/css" href="./css/sample.css" />

</head>

<body>
  <div id="app">
    <transition name="origin">
    <p v-if="show"><span id="origin">{{ info.origin }}</span></p>
    </transition>
    <transition name="name">
    <p v-if="show"><span id="name">{{ info.name }}</span></p>
    </transition>

  </div>
</body>
</html>
